# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
.next/
out/
build/

# Next.js
.next/
vercel/

# Tailwind
*.css

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# .env files
.env
.env.local
.env.development
.env.test
.env.production

# IDE files
.vscode/
.idea/

# Coverage
coverage/

# Misc
*.bak
*.swp
